html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffd19f;
    border: 2px solid #422800;
    box-shadow: #422800 4px 4px 0 0;
}

.display {
    min-height: 100px;
    position: relative;
    margin: 10px 20px;
    border-radius: 10px;
    border: 2px solid #422800;
    background-color: #fbeee0;
    color: #422800;
}

.display input {
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #422800;
    box-shadow: #422800 2px 2px 0 0;
    color: #422800;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#word {
    display: flex;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 10px;
    height: 30%;
    font-size: 12px;
    font-family: 'Press Start 2P', arial;
}

#word input{
    flex-grow: 1;
}

#result {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 13%;
    width: 70%;
    font-family: 'Press Start 2P', arial;
}

#content {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 40px;
    font-family: 'Press Start 2P', arial;
    max-width: 93%;
    height: 40%;
    text-align: right;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 400px;
}

.clear-del{
    display: grid;
    grid-template-columns: auto auto;
    gap:20px;
    height: 50px;

    margin: 10px 20px 0px 20px;
}

.main {
    display: flex;
    flex: 1;
    min-height: 300px;
}

.numbers {
    display: grid;
    flex: 1;
    grid-template-columns: auto auto auto;
    
    border-radius: 12px;
    margin: 20px;
}

.math {
    display: grid;
    flex: 1 1 0;
    grid-template-columns: auto;

    border-radius: 12px;
    max-width: 70px;
    margin: 20px;
}

.math button, .numbers button{
    border-radius: 0;
}

/* CSS */
button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 0px 0px 0 0;
  transform: translate(2px, 2px);
}


#seven{
    border-radius: 10px 0 0 0;
}

#nine {
    border-radius: 0 10px 0 0;
}

#zero {
    border-radius: 0 0 0 10px;
}

#eq {
    border-radius: 0px 0px 10px 0px;
}

#divide {
    border-radius: 10px 10px 0 0;
}

#plus {
    border-radius: 0 0 10px 10px;
}